@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -1;
}

.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #e5e5e5;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}

.background li:nth-child(odd) { border-color: #ffffff; }

.background li:nth-child(1) { animation-delay: 0s; left: 5vw; top: 25vh; }
.background li:nth-child(2) { animation-delay: 2s; left: 20vw; top: 61vh; }
.background li:nth-child(3) { animation-delay: 6s; left: 89vw; top: 34vh; }
.background li:nth-child(4) { animation-delay: 8s; left: 73vw; top: 4vh; }
.background li:nth-child(5) { animation-delay: 10s; left: 0vw; top: 50vh; }
.background li:nth-child(6) { animation-delay: 12s; left: 69vw; top: 78vh; }
.background li:nth-child(7) { animation-delay: 14s; left: 96vw; top: 1vh; }
.background li:nth-child(8) { animation-delay: 16s; left: 63vw; top: 58vh; }
.background li:nth-child(9) { animation-delay: 18s; left: 55vw; top: 85vh; }
.background li:nth-child(10) { animation-delay: 20s; left: 81vw; top: 53vh; }
.background li:nth-child(10) { animation-delay: 9s; left: 81vw; top: 53vh; }
.background li:nth-child(11) { animation-delay: 10s; left: 45vw; top: 10vh; }
.background li:nth-child(12) { animation-delay: 11s; left: 78vw; top: 72vh; }
.background li:nth-child(13) { animation-delay: 12s; left: 10vw; top: 20vh; }
.background li:nth-child(14) { animation-delay: 13s; left: 30vw; top: 68vh; }
.background li:nth-child(15) { animation-delay: 14s; left: 87vw; top: 12vh; }

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .loading-dots {
    display: inline-block;
    font-weight: bold;
    animation: blink 1s infinite;
  }
  